@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textShine {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 100% center;
    }
  }
  
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.panel.open {
    max-height: 500px; /* กำหนดความสูงพอประมาณ */
}
.hidden {
  display: none;
}

.show {
  display: flex;
}